.downloaded-stocks {
    border-bottom: 2px solid #BBB;
    padding-bottom: 20px;
}

.symbol {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

table {
    border-spacing: 0;
    color: #444;
    font-size: 18px;
}

th {
    font-weight: normal;
}

th,
td {
    text-align: left;
    padding: 15px 25px 15px 25px;
}

th:first-child,
td:first-child {
    padding-left: 50px;
}

th:first-child,
td:last-child {
    padding-right: 50px;
}

thead {
    background: #2e2e2e;
    color: white;
}

tbody tr:nth-child(2n + 1){
    background: #eee;
}

tbody tr:nth-child(2n){
    background: #ddd;
}
