﻿.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    display: flex;
    justify-content: center;
    background: #282c34;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

li a {
    display: block;
    padding: 15px;    
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    background-color: #555;
    color: white;
}

a:visited { text-decoration: none; color: unset; }
a:hover { text-decoration: none; color: unset; }
a:focus { text-decoration: none; color: unset; }
a:hover, a:active { text-decoration: none; color:black }
