﻿body,
html {
  padding: 0;
  margin: 0;
}

.content {
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-items {
  align-items: center;
}


.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 25px;
  border: 1px solid #d4d4d4;
  background: #e4e4e4;
  cursor: pointer;
}

.button:hover {
  background: #a4a4a4;
}