#symbols-selector {
    padding: 10px;
    margin: 0 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.graph-container {
    width: 100%;
    padding-bottom: 50px;
}

.strategy-picker,
.volume,
.log-control {
    font-size: 14px;
    color: #777;
    font-weight: 600;
    cursor: default;
}


.strategy-picker__execute {
    padding: 5px;
    cursor: pointer;
}

.strategy-properties {
    padding: 5px;
    margin-left: 10px;
}

.volume {
    display: inline-block;
}

.linear-mode .linear,
.log-mode .log {
    color: steelblue;
    cursor: pointer;
}

.symbol-item {
    padding: 5px;
    margin: 2px;
}

.inactive {
    background: #a4a4a4;
}

.active {
    background: #555555;
}